@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-border: #7c3aed;
  --track-scrollbar: #f1f1f1;
}

//swtich color in dark mode
.dark {
  --color-border: #c4b5fd;
  --track-scrollbar: #252525;
}

body.dark * {
  border-color: var(--color-border);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--track-scrollbar);
}

::-webkit-scrollbar-thumb {
  background: var(--color-border);
}

@theme {
  --animate-typing: typing 3s steps(44, end),
    blink-caret 0.75s step-end infinite;

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 14ch;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--color-border);
    }
  }
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Inter', serif;
}
